<h2>[ Preview ]</h2>

<h4>
<ul>
    <li>Naive Bayes</li>
    <li>GaussianNB</li>
    <li>MultinomialNB</li>
    <li>train_test_data(random_state)</li>
</ul>
</h4>

<h2>[ EXERCISE ]</h2>

<h4>
<ol>
    <li>Use wine dataset from sklearn.datasets to classify wines into 3 categories</li>
    <li>Load the dataset and split it into test and train</li>
    <li>After that train the model using Gaussian and Multinominal classifier and post which model performs better</li>
    <li>Use the trained model to perform some predictions on test data.</li>
</ol>
</h4>

---

<h4>1. 데이터 불러오기</h4>

In [59]:
from sklearn import datasets

wine = datasets.load_wine()

In [60]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [61]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [62]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [63]:
import pandas as pd

df = pd.DataFrame(wine.data, columns= wine.feature_names)
df.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [65]:
df['target'] = wine.target
df

     alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0      14.23        1.71  2.43  ...                          3.92   1065.0       0
1      13.20        1.78  2.14  ...                          3.40   1050.0       0
2      13.16        2.36  2.67  ...                          3.17   1185.0       0
3      14.37        1.95  2.50  ...                          3.45   1480.0       0
4      13.24        2.59  2.87  ...                          2.93    735.0       0
..       ...         ...   ...  ...                           ...      ...     ...
173    13.71        5.65  2.45  ...                          1.74    740.0       2
174    13.40        3.91  2.48  ...                          1.56    750.0       2
175    13.27        4.28  2.26  ...                          1.56    835.0       2
176    13.17        2.59  2.37  ...                          1.62    840.0       2
177    14.13        4.10  2.74  ...                          1.60    560.0       2

[178 rows x 14 columns]

In [52]:
# df_pred =df.sample(n=20, replace=False)
# df.describe()

          alcohol  malic_acid  ...      proline      target
count  178.000000  178.000000  ...   178.000000  178.000000
mean    13.000618    2.336348  ...   746.893258    0.938202
std      0.811827    1.117146  ...   314.907474    0.775035
min     11.030000    0.740000  ...   278.000000    0.000000
25%     12.362500    1.602500  ...   500.500000    0.000000
50%     13.050000    1.865000  ...   673.500000    1.000000
75%     13.677500    3.082500  ...   985.000000    2.000000
max     14.830000    5.800000  ...  1680.000000    2.000000

[8 rows x 14 columns]

<h4>2. train / test data</h4>

In [76]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop(['target'], axis='columns'), df.target, test_size=0.3, random_state=1)
# X_train, X_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size=0.3, random_state=1

In [77]:
y_train.unique()

array([1, 0, 2])

<h4>3. Model</h4>

In [78]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB

model_G = GaussianNB()
model_G.fit(X_train, y_train)
print('GaussianNB :', model_G.score(X_test, y_test))

model_M = MultinomialNB()
model_M.fit(X_train, y_train)
print('MultinomialNB :', model_M.score(X_test, y_test))

GaussianNB : 0.9814814814814815
MultinomialNB : 0.8703703703703703