### Question

##### In exercise folder (same level as this notebook on github) there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,
##### Q1. 2 yr experience, 9 test score, 6 interview score : 53713.86 
##### Q2. 12 yr experience, 10 test score, 10 interview score : 93747.79

In [2]:
# 글자를 숫자로 변환하는 라이브러리 

pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Using legacy 'setup.py install' for word2number, since package 'wheel' is not installed.
Installing collected packages: word2number
    Running setup.py install for word2number: started
    Running setup.py install for word2number: finished with status 'done'
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\jack0\AppData\Local\Programs\Python\Python38\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [2]:
# experience NA 채우기, 영문->숫자 변환

from word2number import w2n

df.experience = df.experience.fillna('zero')
df.experience = df.experience.apply(w2n.word_to_num)

df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [4]:
# test_score NA 채우기

import math

median_test_score = math.floor(df['test_score(out of 10)'].mean())
df['test_score(out of 10)']	 = df['test_score(out of 10)'].fillna(median_test_score)

df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], df['salary($)'])

LinearRegression()

In [9]:
print('coef :', reg.coef_)
print('intercept :', reg.intercept_)

coef : [2922.26901502 2221.30909959 2147.48256637]
intercept : 14992.65144669314

In [10]:
print(reg.predict([[2,9,6]]))
print(2922.26901502*2 + 2221.30909959*9 + 2147.48256637*6 + 14992.65144669314)

[53713.86677124]
53713.86677126314

C:\Users\jack0\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [11]:
print(reg.predict([[12, 10, 10]]))
print(2922.26901502*12 + 2221.30909959*10 + 2147.48256637*10 + 14992.65144669314)

[93747.79628651]
93747.79628653315

C:\Users\jack0\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(