## Topic 
### 1. Data Preprocessing : Handling NA values
####    - 항상 전처리는 필요함

### 2. Linear Regression Using Multiple Variables

In [6]:
import pandas as pd
import numpy as np
from sklearn import linear_model

df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
df.bedrooms.median()

4.0

In [8]:
# NA에 채울 값 선정

import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [9]:
# 전처리 : NA에 값 채우기

df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
# Lienar_Regression 모델링

reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price) # train

LinearRegression()

In [15]:
# 상관관계 확인

reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [16]:
# 절편 확인

reg.intercept_

221323.00186540443

In [17]:
# area = 3000, bedrooms =3, age = 40

reg.predict([[3000, 3, 40]])

C:\Users\jack0\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [19]:
# 모델이 잘 적용되었는지 확인

112.06244194*3000 + 23388.88007794 * 3 -3231.71790863 *40 + 221323.00186540443

498408.25157402444